<IfModule mod_rewrite.c>
    RewriteEngine On RewriteBase /apps/sistema-registros-visitas/ RewriteRule ^index\.html$ - [L] RewriteCond %{REQUEST_FILENAME} !-f RewriteCond %{REQUEST_FILENAME} !-d RewriteRule . /apps/sistema-registros-visitas/index.html [L]
</IfModule>